.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.btn-el {
  display: flex;
  justify-content: space-evenly;
}
.btns {
  width: 200px;
  background-color: black;
  color: white;
  border: 5px solid white;
  font-weight: bolder;
  border-radius: 10px;
}
.btns:hover {
  background-color: blue;
}
.card-img-top {
  height: 200px;
  border-radius: 25px;
}
.field-el {
  display: block;
  margin: auto;
  width: 400px;
  background-color: black;
  color: white;
  border: 5px solid white;
  font-weight: bolder;
  border-radius: 25px;
  text-align: center;
}
.field-el:hover {
  background-image: linear-gradient(purple, hotpink);
  text-shadow: 0px 0px 3px black;
}
.submit {
  display: block;
  margin: auto;
  width: 150px;
  background-color: black;
  color: white;
  border: 5px solid white;
  font-weight: bolder;
  border-radius: 50px;
  text-align: center;
  height: 50px;
}
.submit:hover {
  background-image: linear-gradient(purple, hotpink);
  text-shadow: 0px 0px 3px black;
}
.delete {
  width: 35px;
  height: 35px;
  font-weight: 900;
  background-color: red;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}
.delete:hover {
background-image: linear-gradient(hotpink, red);
}
