#animals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #E5D9F2;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px solid #A594F9;
  border-radius: 10px;
}
.btn-el {
  display: flex;
  justify-content: space-evenly;
}
.btns {
  width: 200px;
  background-color: black;
  color: white;
  border: 5px solid white;
  font-weight: bolder;
  border-radius: 10px;
}
.btns:hover {
  background-color: blue;
}
.card-img-top {
  height: 200px;
  border-radius: 25px;
}
.field-el {
  display: block;
  margin: auto;
  width: 400px;
  background-color: black;
  color: white;
  border: 5px solid white;
  font-weight: bolder;
  border-radius: 25px;
  text-align: center;
}
.field-el:hover {
  background-image: linear-gradient(purple, hotpink);
  text-shadow: 0px 0px 3px black;
}
.submit {
  display: block;
  margin: auto;
  width: 150px;
  background-color: black;
  color: white;
  border: 5px solid white;
  font-weight: bolder;
  border-radius: 50px;
  text-align: center;
  height: 50px;
}
.submit:hover {
  background-image: linear-gradient(purple, hotpink);
  text-shadow: 0px 0px 3px black;
}
.animal-card-el {
  width: 300px;
  height: 460px;
  background-color: #7371FC;
  border-radius: 5px;
  border: 3px solid #CDC1FF;
}
.image-el {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  display: block;
  margin: auto;
  border: 5px solid #A594F9;
}
h1 {
  text-align: center;
  color: #E5D9F2;
}
h3 {
  display: block;
  color: #E5D9F2;
  background-color: #F5EFFF;
  border-radius: 50px;
  width: 125px;
  margin: auto;
  text-align: center;
  text-shadow: 0px 0px 2px #7371FC;
}
p {
  padding-left: 25px;
  padding-right: 25px;
  color: #E5D9F2;
}
.delete-el {
  margin: 1px 0px 0px 268px;
  border-color: #7371FC;
  color: #7371FC;
  background-color: #F5EFFF;
  font-weight: bolder;
}
.delete-el:hover {
  color: black;
  background-color: red;
  border: none;
}
